@import "tailwindcss";

@theme {
    /* --color-primary: oklch(0.72 0.11 178);
    --color-secondary: oklch(0.72 0.18 300); */

    --color-primary: oklch(0.9012 0.1158 87.49);
    --color-secondary: oklch(0.9585 0.0411 154.09);


    /* Base color tokens */
    --color-yellow: oklch(0.97 0.12 100);
    --color-green: oklch(0.95 0.09 150);
    --color-blue: oklch(0.94 0.10 230);
    --color-orange: oklch(0.6702 0.1789 41.86);
    --color-gray: oklch(0.94 0 0);
    --color-purple: oklch(0.93 0.10 300);
    --color-red: oklch(0.5368 0.182 27.11);
    --color-pink: oklch(0.96 0.12 350);
    --color-black: oklch(0.12 0 0);
    --color-white: oklch(1 0 0);
    --color-brown: oklch(0.4349 0.1052 57);
}

@layer utilities {
	.container {
		width: min(90vw, 100% - 4rem);
		@apply mx-auto;
	}
}

@layer base {
	* {
		@apply text-white;
	}

    html, body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        /* Prevent pinch-zoom on supported browsers */
        touch-action: manipulation;
    }

    .main {
        @apply h-dvh w-dvw overflow-hidden bg-secondary relative;
    }

    .main-layout {
        @apply h-full w-full overflow-hidden;
    }

    .button-primary {
        @apply px-4 py-2 rounded-md cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed bg-primary text-black;
    }

    .input-primary {
        @apply px-4 py-2 rounded-md border border-primary text-black bg-primary focus:outline-none focus:ring-2 focus:ring-primary disabled:opacity-50 disabled:cursor-not-allowed;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply text-white font-bold capitalize text-2xl;
    }
}